#footer {
    h3 {
        font-size: clamp(1.35rem, 7vw, 10rem);
        font-weight: 300 !important;
    }

    .mail-link {
        font-size: clamp(1.1rem, 4vw, 8.5rem);
    }

    .phone-number {
        font-size: clamp(1.1rem, 2.1vw, 6rem);
    }

    .footer-social-icons {
        img {
            height: clamp(25px, 2.5vw, 60px);
            width: clamp(25px, 2.5vw, 60px);
        }
    }

    ul {
        font-size: clamp(1.15rem, 1.5vw, 2rem);

        list-style-type: none;
    }
}
