@import "../../../styles/variables";
.small {
    height: clamp(0.6rem, 1.25vw, 1.5rem);
    margin-left: -1vw;
}
.normal {
    height: clamp(1rem, 2.5vw, 2.95rem);
    margin-left: -1.3vw;
    margin-top: clamp(0.1rem, 0.1vw, 0.5rem);
}
.big {
    height: clamp(1rem, 2.675vw, 3.5rem);
    margin-left: -2.5vw;
}
.path {
    fill: $primary-color;
}
