@import "../../styles/variables";

.cursor {
    background-color: $primary-color;

    transform: translate(-50%, -50%);

    transition: 0.3s transform, 0.2s opacity;
}

.label {
    font-size: clamp(1.1rem, 1.5vw, 3rem);
}
