//Body
$body-bg: #0f0f0f;
$body-bg-color-lighter: #131313;
$body-bg-color-darker: #0c0c0c;

//Typo
$font-family-primary: "Poppins";
$font-family-secondary: "Source Sans Pro", sans-serif;
$font-family-tertiary: "Scheherazade New", serif;
$font-family-header: "Elbaris";
$font-size-base: 1rem;
$line-height-base: 1.6;

//Colors
$font-color-primary: #ffffff;
$font-color-secondary: #ececec;
$font-color-tertiary: #bebebe;
$font-color-fourth: #707070;

$primary-color: #00ff80;
$secondary-color: #2c8cb3;

$xxl-screen-size: 1536px;
$xl-screen-size: 1280px;
$lg-screen-size: 1024px;
$md-screen-size: 768px;
$sm-screen-size: 640px;
$xs-screen-size: 400px;
