@tailwind base;
@tailwind components;
@tailwind utilities;

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap");

@import "_variables";
@import "utilities";
@import "buttons";
@import "typography";
@import "links";
@import "other";

//main rules
*,
*::before,
*::after {
    box-sizing: border-box;
}

::selection {
    background-color: $primary-color-dark;
    color: $font-color-secondary;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;

    color: $font-color-primary;
    font-family: $font-family-primary;
    overflow-x: hidden;
    // overflow-y: hidden;
    background-color: $body-bg !important;
    // background-image: url("/images/bg_img.png") !important;
    // background-position: center !important;
    // background-repeat: no-repeat !important;
    // background-size: cover !important;
}

hr {
    display: block;
    border: 1px solid $font-color-primary;
    overflow: hidden;
    width: clamp(3em, 5vw, 7em);
    float: left;
}

img {
    width: 100%;
}
