@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap");

@import "_variables";
@import "typography";
@import "utilities";
@import "buttons";
@import "links";
@import "other";

@font-face {
    font-family: "Elbaris";
    src: url("assets/fonts/Elbaris.woff2") format("woff2"),
        url("assets/fonts/Elbaris.woff") format("woff"),
        url("assets/fonts/Elbaris.otf") format("otf");
    font-weight: normal;
    font-style: normal;
}

/* main rules*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

::selection {
    background-color: adjust-hue(darken($primary-color, 15%), 10);
    color: $font-color-secondary;
}

html {
    font-size: 16px;

    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

#smoothScroll {
    overflow-y: hidden !important;
}

body {
    margin: 0;
    padding: 0;

    color: $font-color-primary;
    font-family: $font-family-primary;

    overflow-x: hidden !important;
    overflow-y: hidden !important;

    background-color: $body-bg !important;
    /*background-image: url("/images/bg_img.png") !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important; */
}

hr {
    display: block;
    border: 1px solid $font-color-primary;
    overflow: hidden;
    width: clamp(3em, 5vw, 7em);
    float: left;
}

img {
    width: 100%;
}

.c-scrollbar_thumb {
    background-color: $font-color-fourth !important;
    opacity: 0.3;
    width: 7px;
    border-radius: 10px;
    margin: 2px;
}

@media (max-width: $lg-screen-size) {
    html,
    main,
    body {
        overflow-y: auto !important;
    }
}
