.btn {
    outline: none;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    font-family: $font-family-primary;
    font-size: clamp(0.6rem, 1vw, 1.75rem);
    border-radius: 5em;
}
