.link-primary img {
    transition: transform 0.275s ease 0s, filter 0.5s;
    &:hover {
        filter: invert(69%) sepia(87%) saturate(450%) hue-rotate(90deg)
            brightness(233%) contrast(80%);
        transform: scale(1.1);
    }
}
