.link-activate-wrapper {
    &:hover {
        .link-bracket-display {
            &::after {
                color: $primary-color !important;
                opacity: 1;
            }
        }
        .underline {
            color: $primary-color !important;
            &:before {
                background-color: $primary-color !important;
                width: 0%;
            }
            &:after {
                background-color: $primary-color !important;
                width: 100%;
            }
        }
    }
}

.link-activate-wrapper-paragraph {
    // color: $font-color-primary !important;

    transition: color 0.3s;
    * {
        transition: color 0.3s;
    }

    &:hover {
        .underline {
            color: $primary-color !important;
            &:before {
                background-color: $primary-color !important;
                width: 0%;
            }
            &:after {
                background-color: $primary-color !important;
                width: 100%;
            }
        }
        .link-move {
            transform: translateX(6%);
        }
        span.activate-span {
            color: $font-color-primary !important;
        }
    }
}

.link-primary img {
    transition: transform 0.275s ease 0s, filter 0.5s;
    &:hover {
        filter: invert(69%) sepia(87%) saturate(450%) hue-rotate(90deg)
            brightness(233%) contrast(80%);
        transform: scale(1.1);
    }
}

// .link-arrow .section-header {
//     font-size: clamp(1.3rem, 2vw, 1.9rem);
// }
