//locomotive fixes
[data-scroll-section] {
    perspective: 1px;
}

.c-scrollbar_thumb {
    background-color: $font-color-primary !important;
    opacity: 0.3;
    width: 7px;
    border-radius: 10px;
    margin: 2px;
}

ul.dots {
    li {
        &:before {
            content: "•";
            font-size: 1rem;
            border-radius: 0.75ch;
            padding-right: 0.75ch;
            margin-right: 0.75ch;
            color: $primary-color;
        }
    }
}

ul.dots-dark {
    li {
        &:before {
            content: "•";
            font-size: 0.8em;
            border-radius: 1ch;
            padding-right: 1ch;
            margin-right: 1ch;
            color: darken($primary-color, 35%);
        }
    }
}

ul.dots-normal {
    li {
        list-style: outside disc;
    }
}
