@import "../../styles/_variables";

#hero {
    .container-hero {
        margin-right: none;
        margin-left: none;
        padding-left: clamp(15px, 4vw, 350px);
        padding-right: clamp(15px, 4vw, 350px);
    }

    .line {
        // translate: 0px 100%;
    }

    h1 {
        font-family: $font-family-header;

        font-size: clamp(1.75rem, 22vw, 100rem);
        line-height: clamp(1.75rem, 16vw, 100rem);
    }

    h2 {
        font-size: clamp(1rem, 1.8vw, 3rem);
    }
}

@media (max-width: $md-screen-size) {
    #hero {
        h1 {
            font-size: clamp(1.75rem, 22vw, 100rem);
            line-height: clamp(1.75rem, 14vw, 100rem);
        }

        h2 {
            font-size: clamp(0.7rem, 2.2vw, 2rem);
        }
    }
}

@media (max-width: $xs-screen-size) {
    #hero {
        h1 {
            font-size: clamp(1.75rem, 18vw, 100rem);
            line-height: clamp(1.75rem, 14vw, 100rem);
        }
    }
}
