@import "../../styles/_variables";
#portfolio {
    a {
        font-size: clamp(0.8rem, 2vw, 3rem);
    }
    .slide-track {
    }

    .main-track {
        color: $font-color-secondary;
    }

    .track-item {
        h3 {
            font-size: clamp(1.8rem, 4.5vw, 6.5rem);
        }
        p {
            font-size: clamp(0.8rem, 1.05vw, 4.25rem);
        }
        span {
            font-size: clamp(0.8rem, 1vw, 3rem);
        }

        .portfolio-image-wrapper {
            aspect-ratio: 10/7;

            transition: filter 0.25s ease 0.25s;

            &:hover {
                filter: brightness(110%) saturate(110%);
                .img-slider {
                    transform: scale(1.175);
                }
            }

            .img-slider {
                transition: transform 0.5s ease 0s;
            }
        }
    }

    .link-activate-wrapper {
        &:hover {
            .portfolio-image-wrapper {
                filter: brightness(110%) saturate(110%);
                .img-slider {
                    transform: scale(1.175);
                }
            }
        }
    }
}
