.portfolio-wrapper {
    p {
        font-size: clamp(0.8rem, 1.05vw, 2.75rem);
    }

    .portfolio-item {
        width: clamp(150px, 95%, 100%);
    }

    .category {
        font-size: clamp(0.8rem, 1vw, 2.75rem) !important;
    }
}
