@import "../../../styles/_variables";
.big {
    font-size: clamp(1.8rem, 6vw, 6rem);
}

.break {
    word-break: break-word;
    word-spacing: 50000px;
}

.headerline::before {
    display: block;

    content: "";

    width: 25px;

    border-top: 3px solid $primary-color;

    padding-top: 0.5rem;
}
