@import "../../../../styles/_variables.scss";

.btn-primary {
    border: 0.5px solid #d8d8d880 !important;
    background-color: #ffffff0d !important;

    color: $font-color-primary !important;

    transition: 0.5s background-color;

    &:hover {
        background: $font-color-secondary !important;

        color: $body-bg !important;

        .arrow-right-icon {
            fill: $body-bg !important;
            transition: 0.25s all;
        }
    }
}

.small {
    padding-top: clamp(5px, 0.8vw, 30px);
    padding-bottom: clamp(5px, 0.8vw, 30px);
    padding-left: clamp(5px, 1.5vw, 30px);
    padding-right: clamp(5px, 1.5vw, 30px);
}

.normal {
    padding-top: clamp(5px, 1.2vw, 60px);
    padding-bottom: clamp(5px, 1.2vw, 60px);
    padding-left: clamp(5px, 2.85vw, 60px);
    padding-right: clamp(5px, 2.85vw, 60px);
}

.big {
    padding-top: clamp(5px, 1.75vw, 100px);
    padding-bottom: clamp(5px, 1.75vw, 100px);
    padding-left: clamp(5px, 4.25vw, 100px);
    padding-right: clamp(5px, 4.25vw, 100px);
}
