@import "../../../../styles/variables";

.underline {
    position: relative;
    display: inline-block;

    text-decoration: none;

    // transition: color 0.5s;

    &:after,
    &:before {
        content: "";

        position: absolute;

        background: none repeat scroll 0 0 transparent;
        bottom: 3px;

        display: block;

        height: 1px;
    }

    &:before {
        width: 100%;
        right: 0;

        transition: background-color 0.5s;
    }

    &:after {
        width: 0%;
        left: 0;

        transition: background-color 0.5s;
    }

    &:hover {
        &:after,
        &:before {
            background: $primary-color;
        }
    }
}

.animating {
    &:after {
        animation: swooshAfter 0.2s ease-out 0.3s;
    }

    &:before {
        animation: swooshBefore 0.6s ease-out;
    }
}

@keyframes swooshBefore {
    0% {
        width: 100%;
        right: 0;
    }

    50% {
        width: 0%;
        right: 0;
    }

    100% {
        width: 0%;
        right: 0;
    }
}

@keyframes swooshAfter {
    0% {
        width: 0%;
        left: 0;
    }

    100% {
        width: 100%;
        left: 0;
    }
}

.underline-primary {
    @extend .underline;

    &:after,
    &:before {
        background: $primary-color;
    }
}

.underline-secondary {
    @extend .underline;

    &:after,
    &:before {
        background: #3f3f3f;
    }
}

.link-primary {
    &:hover {
        color: $primary-color !important;
    }
}

.link-move {
    display: inline-block;
    &:hover {
        translate: 6%;
    }
}

.transitions {
    transition: color 0.25s ease, background-color 0.25s ease,
        opacity 0.275s ease;
}
