@import "../../styles//variables";
#offer {
    img {
        width: clamp(300px, 100%, 65vh);
        height: auto;
    }

    .offer-wrapper {
        h3 {
            font-weight: 300 !important;
        }
    }

    p {
        font-size: clamp(0.8rem, 1.05vw, 2.75rem);
    }

    li {
        font-size: clamp(0.8rem, 1vw, 2.75rem);
    }
    a {
        font-size: clamp(1rem, 1.2vw, 3rem);
    }
}

@media (max-width: $md-screen-size) {
    #offer {
        .offer-wrapper {
            img {
                width: clamp(150px, 100%, 1080px) !important;
            }
            .info-header {
                top: 96%;
            }
            h3 {
                font-size: clamp(1.3rem, 5vw, 4rem);
            }
        }
    }
}
